@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$box-width: MIN(65vw, 65vh);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }

    body {
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        h1 {
            color: blue;
            text-decoration: underline 5px dotted blue;
            margin-bottom: 5vh;
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: $box-width;
            width: $box-width;
            .board {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                border: 10px solid crimson;
                .spot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    cursor: pointer;
                    .xShape {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .diagonal {
                            position: absolute;
                            background-color: blue;
                            width: calc(#{$box-width} / 3);
                            height: 6px;
                        }
                        #line1 {
                            transform: rotate(0.125turn);
                        }
                        #line2 {
                            transform: rotate(-0.125turn);
                        }
                    }
                }
            }
        }
    }
}
