@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$background-color: #343a40;
$hover-color: #3b4450;
$cross-color: #3a86ff;
$circle-color: #ff5c8d;
$board-border-color: #eeeeee;
$winning-color: springgreen;
$tie-color: gold;
$btn-background-color: #7209b7;
$btn-background-color-active: #b5179e;
$box-width: 65vmin;
$signature-color: #ffa786;
$hover-duration: 0.3s;
$click-duration: 0.3s;

@keyframes marked-spot-click {
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes empty-spot-click {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }

    body {
        background-color: $background-color;
        font-family: "Roboto", sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        color: $board-border-color;
        h1 {
            font-size: 8vmin;
            margin-bottom: 5vh;
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: $box-width;
            width: $box-width;
            .mode-toggle {
                width: 100%;
                height: 4em;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                .mode {
                    font-size: 1.2vmax;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: $btn-background-color;
                    width: ($box-width/3);
                    height: 2em;
                    border-radius: 50px 20px;
                    cursor: pointer;
                    transition: $hover-duration;
                    &:hover {
                        background-color: $btn-background-color-active;
                    }
                    &.active-mode {
                        background-color: $btn-background-color-active;
                    }
                }
            }
            .message-box {
                font-size: 2vmax;
                width: 100%;
                height: 2em;
                margin-bottom: 1vh;
            }
            .board {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                border: 10px solid $board-border-color;
                border-radius: 1rem;
                margin-bottom: 2vh;

                .spot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $board-border-color;
                    cursor: pointer;
                    &:hover {
                        background-color: $hover-color;
                    }
                    .cross {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .diagonal {
                            position: absolute;
                            background-color: $cross-color;
                            width: calc(#{$box-width} / 3 * 0.6);
                            height: 1.5vmin;
                        }
                        #line1 {
                            transform: rotate(0.125turn);
                        }
                        #line2 {
                            transform: rotate(-0.125turn);
                        }
                    }
                    .circle {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .circle-component {
                            position: absolute;
                            width: calc(#{$box-width} / 3 * 0.5);
                            height: calc(#{$box-width} / 3 * 0.5);
                            border-radius: 50%;
                        }
                        #ring {
                            background-color: $circle-color;
                        }
                        #cover {
                            background-color: $background-color;
                            width: calc(#{$box-width} / 3 * 0.4);
                            height: calc(#{$box-width} / 3 * 0.4);
                            &.hover-circle-background-color {
                                background-color: $hover-color;
                            }
                        }
                    }
                    .empty {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .marked-spot-clicked {
                    animation: marked-spot-click $click-duration;
                }
                .empty-spot-clicked {
                    animation: empty-spot-click $click-duration;
                }
            }
        }
        .btns {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .btn-link {
                font-size: 1.5vmax;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $board-border-color;
                background-color: $btn-background-color;
                width: 8em;
                height: 3em;
                border-radius: 2em;
                transition: $hover-duration;
                &:hover {
                    background-color: $btn-background-color-active;
                }
            }
            #reset-btn {
            }
        }
        .signature {
            color: $signature-color;
            font-size: 3vmin;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            position: fixed;
            display: flex;
            justify-content: right;
            align-items: flex-end;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}
