
// Background Colors
$background-color: #343a40;

// Hover Colors
$hover-color: #3b4450;

// Icons Colors
$cross-color: #3a86ff;
$circle-color: #ff5c8d;

// Border Colors
$board-border-color: #eeeeee;

// Winning Colors
$winning-color: springgreen;
$tie-color: gold;

// Button Colors
$btn-background-color: #7209b7;
$btn-background-color-active: #b5179e;

// Signature Color
$signature-color: #ffa786;

// Sizes
$main-width: 80vmin;
$main-height: 80vmin;

// Font Sizes
$font-size: 1.2rem;

// Durations
$hover-duration: 0.3s;
$click-duration: 0.3s;

